{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us!</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <p>Welcome to Food plaza – your trusted partner for fast, fresh, and hassle-free food delivery. We understand that in today’s busy world, convenience matters just as much as quality. That’s why we built Foodie: to bring your favorite meals from top local restaurants straight to your doorstep with just a few taps. Whether it’s breakfast, lunch, dinner, or a late-night snack, Foodie connects food lovers with a variety of cuisines to match every taste and occasion.</p>
            <p>At Food Plaza, we believe that food is more than just a necessity—it’s an experience. Our platform offers an easy-to-use interface where customers can explore a wide range of dishes, place orders in seconds, and track deliveries in real time. We partner with trusted restaurants, ensure hygiene and safety in every step, and provide flexible payment options including UPI, cards, wallets, and cash on delivery. With our reliable delivery network and dedicated customer support, we aim to make every order smooth, satisfying, and memorable.</p>
            <p>What makes Food Plaza different is our commitment to innovation and customer happiness. We continuously improve our service by listening to user feedback and introducing new features that make food ordering even easier. Whether you’re at home, at work, or on the go, Foodie is always ready to deliver the food you love—fresh, fast, and right on time. Join thousands of happy customers who trust Foodie to turn everyday meals into something special. Your next favorite dish is just a click away!</p>
            </div>
    </div>
</div>
{% endblock content %}